@model JollyAPI.Models.Entity.User;
@using JollyAdminClient.Helper;
<div class="card">
    <!--begin::Card header-->
    <!--end::Card header-->
    <!--begin::Form-->
    <form id="employee_form" method="get" asp-action="Details" asp-controller="User" class="form">
        <!--begin::Card body-->
        <div class="card-body p-9">
            <!--begin::Row-->
            <div class="row mb-8 justify-content-center">
                <!--begin::Col-->
                <div class="col-xl-2">
                    <div class="fs-6 fw-bold mt-2 mb-3">
                        Tên đầy đủ
                    </div>
                </div>
                <!--end::Col-->
                <!--begin::Col-->
                <div class="col-xl-3 fv-row">
                    <input type="text" disabled class="form-control form-control-solid" value="@Model.FullName">
                </div>
                <!--end::Col-->
                <!--begin::Col-->
                <div class="col-xl-2">
                    <div class="fs-6 fw-bold mt-2 mb-3">
                        Email
                    </div>
                </div>
                <!--end::Col-->
                <!--begin::Col-->
                <div class="col-xl-3 fv-row">
                    <input type="text" disabled class="form-control form-control-solid" value="@Model.Email">
                </div>
                <!--end::Col-->
            </div>
            <!--end::Row-->
            <!--begin::Row-->
            <div class="row mb-8 justify-content-center">
                <!--begin::Col-->
                <div class="col-xl-2">
                    <div class="fs-6 fw-bold mt-2 mb-3">
                        Số điện thoại
                    </div>
                </div>
                <!--end::Col-->
                <!--begin::Col-->
                <div class="col-xl-3 fv-row">
                    <input type="text" disabled class="form-control form-control-solid" value="@Model.Phone" >
                </div>
                <!--end::Col-->
                <!--begin::Col-->
                <div class="col-xl-2">
                    <div class="fs-6 fw-bold mt-2 mb-3">
                        Trạng thái
                    </div>
                </div>
                <!--end::Col-->
                <!--begin::Col-->
                <div class="col-xl-3 fv-row">
                    @if(Model.Status == true)
                    {
                        <input type="text" disabled class="form-control form-control-solid text-success" value="Hoạt động" >
                    } else
                    {
                        <input type="text" disabled class="form-control form-control-solid text-danger" value="Ngừng hoạt động">
                    }
                </div>
                <!--end::Col-->
            </div>
            <!--end::Row-->
            <div class="row mb-8 justify-content-center">
                <!--begin::Col-->
                <div class="col-xl-2">
                    <div class="fs-6 fw-bold mt-2 mb-3">
                        Quyền
                    </div>
                </div>
                <!--end::Col-->
                <!--begin::Col-->
                <div class="col-xl-3 fv-row">
                    <input type="text" disabled class="form-control form-control-solid" value="@Model.Role" >
                </div>
                <!--end::Col-->
            </div>
        </div>
        <!--end::Card body-->
        <!--begin::Card footer-->
        <div class="card-footer d-flex justify-content-center py-6 px-9">
            <a type="button" class="btn btn-secondary mx-5" href="/User">Quay lại</a>
        </div>
        <!--end::Card footer-->
    </form>
    <!--end:Form-->
</div>
